.myStatus_block {
    padding: 40px;
}
.status {
    margin-bottom: 30px;
}
.status .like {
    padding-right: 0;
}
.status .like-count {
    vertical-align: text-top;
    padding: 2px;
    cursor: pointer;
}
.status .status-img {
    max-width: 200px;
    display: block;
    margin-bottom: 20px;
}
.status .show-liker_block, .status .infoCommenter {
    box-shadow: 0px 0px 6px 6px #e1e1e1;
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 20px;
}

