html,body {
  background: #efefef;
  font-family: "Arial";
}

.container {
  max-width: 1250px;
  margin: 30px auto 30px;
  padding: 0 !important;
  width: 90%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

header {
  background: #eee;
  background-image: url("https://image.noelshack.com/fichiers/2017/38/2/1505775648-annapurnafocus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: red;
  height: 250px;
}

header i {
  position: relative;
  cursor: pointer;
  right: -96%;
  top: 25px;
  font-size: 18px !important;
  color: #fff;
}

@media (max-width:800px) {
  header {
    height: 150px;
  } 
  
  header i {
    right: -90%;
  }
}

main {
      padding: 20px 20px 0px 20px;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid #fff;
}

.active {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  right: calc(50% - 70px);
  top: 75px;
  background-color: #FFC107;
  border: 3px solid #fff;
}

@media (max-width:990px) {
  .active {
    right: calc(50% - 60px);
    top: 50px;
  } 
}

.name {
  margin-top: 20px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18pt;
  color: #777;
}

.info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #aaa;
}

.stats {
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  font-family: 'Montserrat', sans-serif;
}


.number-stat {
  padding: 0px;
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
}

.desc-stat {
  margin-top: -15px;
  font-size: 10pt;
  color: #bbb;
}

.desc {
  text-align: center;
  margin-top: 25px;
  margin: 25px 40px;
  color: #999;
  font-size: 11pt;
  font-family: "Open Sans";
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.social {
  margin: 5px 0 12px 0;
  text-align: center;
  display: inline-block;
  font-size: 20pt;
}

.social i {
  cursor: pointer;
  margin: 0 15px;
}

.social i:nth-child(1)  { color: #4267b2; }
.social i:nth-child(2)  { color: #1da1f2; }
.social i:nth-child(3)  { color: #bd081c; }
.social i:nth-child(4)  { color: #36465d; }

.right {
  padding: 0 25px 0 25px !important;
}

.nav {
  display: inline-flex;
}

.nav li {
  margin: 40px 20px 0 10px;
  cursor: pointer;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #888;
}

.nav li:hover, .nav li:nth-child(1)  { 
  color: #999;
  border-bottom: 2px solid #999;
}

.follow {
  position: absolute;
  right: 8%;
  top: 35px;
  font-size: 11pt;
  background-color: #42b1fa;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .4s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.follow:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2), 0 0 15px rgba(0,0,0,0.2);
}
input:focus{
  outline: none!important;
  box-shadow: none;
}

@media (max-width:990px) {
  .nav {
    display: none;
  }
  
  .follow {
    width: 50%;
    margin-left: 25%;
    display: block;
    position: unset;
    text-align: center;
  }
}
.gallery  {
  margin-top: 35px;
}

.gallery div {
  margin-bottom: 30px;
}

.gallery img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  width: auto; 
  height: auto;
  cursor: pointer;
  max-width: 100%;
}

.search_block {
  position: relative;
}
.search_result {
      position: absolute;
    background: white;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 1;
}
.search_result div {
  padding: 2px 6px;
}


.profile_main .photo-left {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.profile_main .user-info_block {
  margin-top: -100px;
}
.profile_main .uploade-image {
  /*opacity: 0;*/
  width: 100%;
}
.profile_main .upload-image_block {
  position: absolute;
  bottom: -60px;
  background-color: rgba(0,0,0,.2);
  transition: bottom .5s ease;
  -moz-transition: bottom .5s ease;
  -webkit-transition: bottom .5s ease;
  -o-transition: bottom .5s ease;
}
.profile_main .photo-left:hover .upload-image_block {
  bottom: 0;
}
.profile_main .upload-image_block .upload-image-text{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.modal .form-group input {
  display: block;
  padding: 2px 6px;
}
.main-modal textarea {
  width: 100%;
}
/*main css*/
.profile_main .photo-left {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.profile_main .user-info_block {
  margin-top: -100px;
}
.profile_main .uploade-image {
  /*opacity: 0;*/
  width: 100%;
}
.profile_main .upload-image_block {
  position: absolute;
  bottom: -60px;
  background-color: rgba(0,0,0,.2);
  transition: bottom .5s ease;
  -moz-transition: bottom .5s ease;
  -webkit-transition: bottom .5s ease;
  -o-transition: bottom .5s ease;
}
.profile_main .photo-left:hover .upload-image_block {
  bottom: 0;
}
.profile_main .upload-image_block .upload-image-text{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.modal .form-group input {
  display: block;
  padding: 2px 6px;
}
.request {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.request_count {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 0;
  background-color: blue;
  text-align: center;
  color:white;
  border-radius: 50%;
}
.gallery > div{
  position: relative;
}
.gallery .delete-img, .gallery .profile-img {
  position: absolute;
  right: 13px;
  padding: 4px 8px;
  background-color: #42b1fa;
  color: white;
  border: 0;
}
.gallery .delete-img {
  top: 0;
}
.gallery .profile-img {
  top: 34px;
  padding: 4px 9px;
}
.requestInfo {
  position: absolute;
  background-color: white;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  top: 20px;
  width: 300px;
  display: none;
}
main .active-user_block{
  width: 150px;
  height: 100%;
  background-color: #e1e1e1;
}
.active-user_block .active-user {
  padding: 15px 10px;
}
.active-user_block .active-user img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.active-user_block .active-user span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #42b72a;
  border-radius: 50%;
  margin-left: 10px;
}
ul.nav a:hover {
  text-decoration: none;
}
ul.nav .deleteFriend {
  font-size: 18px;
  color: white;
  background-color: #6d0d1b;
}
ul.nav .deleteFriend:focus {
  outline: none;
  box-shadow: none;
}
